body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2e294e;
  font-family: Arial, sans-serif;
}
nav {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 20px;
  background-color: #8661c1;
}
nav a {
  width: 10vw;
  text-align: center;
  text-decoration: none;
  color: #efbcd5;
}

img {
  width: 30vw;
  height: 30vh;
}

@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.75);
    opacity: 0.25;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#red-ball {
  background-color: #efbcd5;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 5vw;
  top: 0;
  animation: pulse 1s infinite;
}

h1 {
  color: #efbcd5;
}

.spin {
  background-size: cover;
  transition: transform 0.5s ease-in-out;
}

.spin:hover {
  transform: rotate(360deg);
}
